<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diandi.fabulousvr" >
    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>



    <!-- storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <!-- setting -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
         >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VrActivity1Default"
                  android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".activity.VrActivity2Single"
                  android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".activity.VrActivity3VrLayout"
                  android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".activity.VrActivity4Double"
                  android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".activity.VrActivity5Test"
                  android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".activity.PhotoActivity"
            ></activity>
    </application>

</manifest>
